@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root
{
    --primary-background-color-white : #ffffff;
    --primary-background-color-green :  #B9FF66;
    --primary-background-color-gray  : #F3F3F3;
    --primary-background-color-dark  : #191A23;
    --primary-color-black : #000000;

}

*
{
    font-family:"space grotesk";
    margin: 0;
    padding: 0;
    transition: 0.8s ease;
    box-sizing: border-box;
    

}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :1rem 4rem; 
    margin: 1rem;
    background-color: var(--primary-background-color-white);
    
}
header .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header .logo h1
{
    color: var(--primary-color-black);
}

header nav.navigation a
{
    text-decoration: none;
    color: var(--primary-color-black);
    font-weight: 400;
    padding: 0.4rem;
    margin: 0 1.5rem;
}
#header-button 
{
    border: 1px solid var(--primary-background-color-dark);
    color: var(--primary-background-color-dark);
    background-color: var(--primary-background-color-white);
    width: 8rem;
    height: 2.5rem;
    border-radius: 2.5px;
    

}
button{
    border: 1px solid var(--primary-background-color-dark);
    color: var(--primary-background-color-white);
    background-color: var(--primary-background-color-dark);
    width: 9rem;
    height: 2.3rem;
    border-radius: 5px;
}

.home
{
    background-color: var(--primary-background-color-white);
    
} 
.home .home-container
{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home .home-container .text-container h1
{
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 0.8rem;
}

.home .home-container .text-container p
{
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-color-black);
    margin-bottom: 2rem;

}
.home .logos-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

